.card {
    border-radius: 15px;
}

img {
    background-color: #C4C4C4;
    height: 200px;
    object-fit: cover;
}

.badge {
    font-weight: normal !important;
    border-radius: 100px;
    color: black;
}

.badge.bg-custom {
    background-color: #B5B5B5;
}

.card {
    text-align: center;
    padding: 25px;
}